[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
boto3 = "~=1.7"

[dev-packages]
coverage = ">=4.5"
flake8 = ">=3.6"
mypy = ">=0.670"
pytest = ">=4.3"
pytest-cov = ">=2.6"
twine = ">=1.13"
